[submodule "freedom-e-sdk"]
	path = freedom-e-sdk
	url = https://github.com/sifive/freedom-e-sdk.git
[submodule "opentitan/fw"]
	path = riscv-opentitan/fw
	url = ../opentitan-fw.git
[submodule "qemu"]
	path = qemu
	url = ../qemu.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
